    <footer class="footer">
        <img class="footer__logo" src="/img/footer/logo.png" alt="">
        <p class="footer__description">Nissan Sales Management</p>
        <p class="footer__copyright">Copyright 2018 &copy; Equipo 1 S.A. de C.V. All right reserved</p>
    </footer>
