<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Employees</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<header class="header">
		<div class="header__container container">
			<a href="" class="header__logo-link">
				<img class="header__logo-link" src="/img/header/logo.png" alt="">
			</a>
			<nav class="header__menu">
				<a class="header__link" href="home.html">Home</a>
						<% if(currentUser.role == "Admin"){ %>
								<a class="header__link" href="managers.html">Managers</a>
								<a class="header__link" href="branches.html">Agency</a>
								<a class="header__link" href="models.html">Models</a>
								<a class="header__link" href="stock.html">Stock</a>
						<% } else{ %>
							<% if(currentUser.role == "Manager"){ %>
									<a class="header__link" href="clients.html">Employees</a>
									<a class="header__link" href="shippings.html">Sales</a>
									<a class="header__link" href="stock.html">Requests</a>    
							<% }else{ %>
									<a class="header__link" href="clients.html">Clients</a>
									<a class="header__link" href="shippings.html">Shipping</a>
									<a class="header__link" href="stock.html">Stock</a>
							<% } %>
						<% } %>
				<div class="btn-group header__link--sign-drop">
				  <a href="" class="header__link "><%= currentUser.name %></a>
				  <a href="" class="header__link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    <span class="sr-only">Toggle Dropdown</span>
				  </a>
				  <div class="dropdown-menu dropdown-menu-right">
				    <a class="dropdown-item" href="/logout">Sign out</a>
				  </div>
				</div>
			</nav>
		</div>
    </header>