<% include ../partials/header %>
<style>
    .dropdown-item.active{
        background-color: #dc3545 !important;
    }
    .dropdown-item:active{
        background-color: #dc3545 !important;
    }
</style>

<section class="main">
    <div class="heading container">
        <h1 class="heading__title">Model Comparer</h1>
        <div class="div_controles_comparer">
            <select id="cb_agencias" class="selectpicker" data-style="btn-secondary"></select>
            <select id="cb_categorias" class="selectpicker"></select>
            <select id="cb_modelos" class="selectpicker"></select>
            <select id="cb_variantes" class="selectpicker"></select>
            <button id="bt_agregar" class="btn btn-light" style="float: right;">Comparar</button>
        </div>
        <table id="tabla" class="table">
            <thead class="table__head">
                <tr id="tRow_Modelo" class="table__row-th">
                    <th class="table__th_comparer">Características <span class=""></span></th>
                </tr>
            </thead>
            <tbody class="table__body">
                <tr id="tRow_Categoria" class="table__row-td">
                    <td class="table__th_comparer">Categoria</td>
                </tr>
                <tr id="tRow_Dimensiones" class="table__row-td">
                    <td class="table__th_comparer">Dimensiones</td>
                </tr>
                <tr id="tRow_Rendimiento" class="table__row-td">
                    <td class="table__th_comparer">Rendimiento</td>
                </tr>
                <tr id="tRow_Potencias" class="table__row-td">
                    <td class="table__th_comparer">Potencia</td>
                </tr>
                <tr id="tRow_Torque" class="table__row-td">
                    <td class="table__th_comparer">Torque</td>
                </tr>
                <tr id="tRow_Transmisión" class="table__row-td">
                    <td class="table__th_comparer">Transmisión</td>
                </tr>
                <tr id="tRow_Tracción" class="table__row-td">
                    <td class="table__th_comparer">Tracción</td>
                </tr>
                <tr id="tRow_Precio" class="table__row-td">
                    <td class="table__th_comparer">Precio</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/ajax/salesman/comparer.js"></script>
<script src="/js/Script.js"></script>

<% include ../partials/footer %>