<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Nissan | Let you be driven</title>
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,600,800" rel="stylesheet">
	<link rel="stylesheet" href="/css/comparer.css">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<header>
		<div class="banner">
			<div id="banner" class="carousel slide banner" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-100 banner-item" src="img/bg1.jpg">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100 banner-item" src="img/bg2.jpg">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100 banner-item" src="img/bg3.jpg">
					</div>
				</div>
			
				<a class="carousel-control-prev" href="#banner" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				</a>
				<a class="carousel-control-next" href="#banner" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
				</a>
				<nav class="nav-menu">
					<a href="#">HOME</a>
					<a href="#">US</a>
					<a href="#">COMPARE</a>
					<a href="#">CONTACT</a>
				</nav>
			</div>
		</div>
	</header>
	<section class="main">
		<section class="models">
			<div class="container">
				<div class="row title-text">
					<div class="col-md-12 text-center">
						<h1 class="w-100">Don't be scared</h1>
						<h2 class="w-100">COMPARE, BUY, RIDE.</h2>
						<div class="separator"></div>
						<p class="w-100">Review our product variety, we know an option won't be enough for you. You will notice that
						the benefits are more than the ones we are presenting to you.</p>
					</div>
				</div>
				<div class="row nav-category">
					<div class="col-md-12"></div>
				</div>
			</div>
		</section>
		<section class="comparison-table">
			<div class="row title">
				<div class="container d-flex justify-content-center align-items-center">
					<select id="cb_agencias" class="modal-form__input--comparer selectpicker" data-style="btn-secondary"></select>
					<select id="cb_categorias" class="modal-form__input--comparer selectpicker"></select>
					<select id="cb_modelos" class="modal-form__input--comparer selectpicker"></select>
					<select id="cb_variantes" class="modal-form__input--comparer selectpicker"></select>
					<button id="bt_agregar" class="modal-form__input--comparer selectpicker" style="float: right;">Comparar</button>
				</div>
			</div>
			<div class="row table-comparison">
				<div class="container py-4">
					<div class="row title-comparison">
						<div class="col-md-12 text-center">
							<h2 class="title">Comparison</h2>
						</div>
					</div>
					<div class="row table-indicator" id="tabla">
						<div class="col-md-3 table-car--criteria">
							<ul class="list-group list-group-flush">
								<li class="list-group-item">Categoria</li>
								<li class="list-group-item">Dimensiones</li>
								<li class="list-group-item">Rendimiento</li>
								<li class="list-group-item">Potencia</li>
								<li class="list-group-item">Torque</li>
								<li class="list-group-item">Transmisión</li>
								<li class="list-group-item">Tracción</li>
								<li class="list-group-item">Precio</li>
							</ul>
						</div>
						<div class="col-md-3 table-car">
							<h2 class="table-car__title">Nissan</h2>
							<ul class="list-group list-group-flush">
							  <li class="list-group-item">Cras justo odio</li>
							  <li class="list-group-item pro">Dapibus ac facilisis in</li>
							  <li class="list-group-item">Morbi leo risus</li>
							  <li class="list-group-item">Porta ac consectetur ac</li>
							  <li class="list-group-item">Vestibulum at eros</li>
							</ul>
						</div>
						<div class="col-md-3 table-car">
							<h2 class="table-car__title">Toyota</h2>
							<ul class="list-group list-group-flush">
							  <li class="list-group-item con">Cras justo odio</li>
							  <li class="list-group-item">Dapibus ac facilisis in</li>
							  <li class="list-group-item">Morbi leo risus</li>
							  <li class="list-group-item">Porta ac consectetur ac</li>
							  <li class="list-group-item">Vestibulum at eros</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="benefits">
			<div class="row section-title">
				<div class="col-md-12">
					<h2 class="title text-center py-5">Goza de los beneficios de ser Nissan.</h2>
				</div>
			</div>
			<div class="row benefits">
				<div class="col-md-3 benefit">
					<img src="img/benefit1.jpg" alt="">
					<div class="black-panel text-center">
						<h3>Hazte amigo del camino</h3>
						<p>El rendimiento y la calidad de nuestros autos te permitirán llegar a lugares que creías imposibles.</p>
					</div>
				</div>
				<div class="col-md-3 benefit">
					<img src="img/benefit2.jpg" alt="">
					<div class="black-panel text-center">
						<h3>Te acompaña a donde vayas.</h3>
						<p>El rendimiento y la calidad de nuestros autos te permitirán llegar a lugares que creías imposibles.</p>
					</div>
				</div>
				<div class="col-md-3 benefit">
					<img src="img/benefit3.jpg" alt="">
					<div class="black-panel text-center">
						<h3>Rompe las barreras del trayecto.</h3>
						<p>El rendimiento y la calidad de nuestros autos te permitirán llegar a lugares que creías imposibles.</p>
					</div>
				</div>
				<div class="col-md-3 benefit">
					<img src="img/benefit4.jpg" alt="">
					<div class="black-panel text-center">
						<h3>Explora nuevos horizontes.</h3>
						<p>El rendimiento y la calidad de nuestros autos te permitirán llegar a lugares que creías imposibles.</p>
					</div>
				</div>
			</div>
		</section>
		<section class="compare">
			<div class="row three-steps">
				<div class="container d-flex">
					<div class="col-md-4 step d-flex text-center">
						<div class="icon">
							<i class="fa fa-car" aria-hidden="true"></i>
						</div>
						<div class="text">
							<p class="title">Encuentra tu auto</p>
							<p class="description">Revisa nuestra variedad</p>
						</div>
					</div>
					<div class="col-md-4 step d-flex text-center">
						<div class="icon">
							<i class="fa fa-search" aria-hidden="true"></i>
						</div>
						<div class="text">
							<p class="title">Busca y compara</p>
							<p class="description">Con autos de otras marcas</p>
						</div>
					</div>
					<div class="col-md-4 step d-flex text-center">
						<div class="icon">
							<i class="fa fa-shopping-cart" aria-hidden="true"></i>
						</div>
						<div class="text">
							<p class="title">Compra con nosotros</p>
							<p class="description">En nuestras distintas sucursales</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
	<footer>
		<div class="row contact">
			<div class="container d-flex flex-wrap">
				<h2 class="col-md-12 text-center">Contacto</h2>
				<div class="col-md-4">
					<div class="phone text-center">
						<i class="fa fa-phone" aria-hidden="true"></i>
						<p class="contact-title">Dudas y servicios al cliente</p>
						<p class="contact-info">+52 312 345 6789</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="email text-center">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						<p class="contact-title">Dudas y servicios al cliente</p>
						<p class="contact-info">+52 312 345 6789</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="social text-center">
						<div class="social-media">
							<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
						</div>
						<p class="contact-title">Dudas y servicios al cliente</p>
						<p class="contact-info">+52 312 345 6789</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/ajax/salesman/comparer.js"></script>
<script src="/js/Script.js"></script>
    
<% include ../partials/footer %>