<% include ../partials/header %>

<section class="main">
    <div class="heading container">
        <h1 class="heading__title">Stock</h1>
        <div class="heading__controls">
            <div class="table-filter__group">
                <div class="table-filter__item">
                    <p class="table-filter__title">Locations</p>
                    <select class="modal-form__input modal-form__input--select" name="" id="filter-location">
                        <option value="Local">Local</option>
                        <option value="Global">Global</option>
                    </select>
                </div>
                <div class="table-filter__item">
                    <p class="table-filter__title">Model</p>
                    <select class="modal-form__input modal-form__input--select" name="" id="filter-model">
                        <option value="">Villa de Álvarez</option>
                    </select>
                </div>
                <div class="table-filter__item">
                    <p class="table-filter__title">Version</p>
                    <select class="modal-form__input modal-form__input--select" name="" id="filter-version">
                        <option value="">Villa de Álvarez</option>
                    </select>
                </div>
            </div>
        </div>
        <table class="table">
            <thead class="table__head">
                <tr class="table__row-th" id="table-criteria">
                    <th class="table__th table__th--is-active">MODEL <span class=""></span></th>
                    <th class="table__th">SERIE NUMBER <span class=""></span></th>
                    <th class="table__th">CATEGORY <span class=""></span></th>
                </tr>
            </thead>
            <tbody class="table__body" id="table-vehicles">
            </tbody>
        </table>
    </div>

     <!--Add vehicle-->
    <div class="modal--fade modal fade add-stock" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="add-stock">
        <div class="modal-dialog modal--form-size">
            <div class="modal-form modal-content">
                <div class="modal-form__header">
                    <h2 class="modal-form__title">Send Stock</h2>
                    <i class="modal-form__exit fas fa-times" id="modal-exit" data-dismiss="modal" aria-label="Close"></i>
                </div>
                <form action="" id="add-model-form">
                    <div class="modal-form__body">
                            <div class="modal-form__group modal-form__group--small">
                                <label for="" class="modal-form__label">State</label>
                                <select id="form-stock-state" class="modal-form__input" name="state">
                                    <option value="Servicio">Select a city</option>
                                </select>
                            </div>
                            <div class="modal-form__group modal-form__group--small">
                                <label for="" class="modal-form__label">City</label>
                                <select id="form-stock-city" class="modal-form__input" name="city">
                                    <option value="Servicio">Select a city</option>
                                </select>								  
                            </div>
                            <div class="modal-form__group modal-form__group--small">
                                <label for="" class="modal-form__label">Agency</label>
                                <select id="form-stock-agency" class="modal-form__input" name="agency">
                                    <option value="Servicio">Select an agency</option>
                                </select>								  
                            </div>
                            <div class="modal-form__group modal-form__group--small">
                                <label for="" class="modal-form__label">Category</label>
                                <select class="modal-form__input" name="category">
                                    <option value="Servicio">Full stock</option>
                                    <option value="Servicio">Servicio</option>
                                    <option value="Auto">Auto</option>
                                    <option value="Pick Up">PickUp</option>
                                    <option value="SUV">SUV</option>
                                </select>								  
                            </div>                    
                    </div>
                </form>
                <div class="modal-form__footer">
                    <div class="modal-form__btn-group">
                        <a href="#" class="modal-form__btn modal-form__btn--cancel" data-dismiss="modal" aria-label="Close">Cancel</a>
                        <a id="add-stock-submit" href="#" class="modal-form__btn modal-form__btn--confirm" data-dismiss="modal" aria-label="Close">Confirm</a>
                    </div>
                </div>
                </div>
                <div class="modal-form__footer">
                    <div class="modal-form__btn-group">
                        <a href="#" class="modal-form__btn modal-form__btn--cancel" data-dismiss="modal" aria-label="Close">Cancel</a>
                        <a id="add-stock-submit" href="#" class="modal-form__btn modal-form__btn--confirm" data-dismiss="modal" aria-label="Close">Confirm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal--fade modal fade save-changes" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="add-branch">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-form modal-content modal-form--text-centered">
                <p class="modal-form__delete-title">¿Seguro que desea guardar los cambios?</p>
                <p class="modal-form__delete-description">Este elemento presenta cambios</p>
                <div class="modal-form__footer modal-form__footer--centered">
                    <div class="modal-form__btn-group modal-form__btn-group--centered">
                        <a href="#" class="modal-form__btn modal-form__btn--cancel" data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target=".edit-branch">Nel, prro</a>
                        <a href="#" class="modal-form__btn modal-form__btn--confirm" data-dismiss="modal" aria-label="Close">Saimón</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal--fade modal fade delete-element" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="add-branch">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-form modal-content modal-form--text-centered">
                <p class="modal-form__delete-title">¿Seguro que desea eliminar este elemento?</p>
                <div class="modal-form__footer modal-form__footer--centered">
                    <div class="modal-form__btn-group modal-form__btn-group--centered">
                        <a href="#" class="modal-form__btn modal-form__btn--cancel" data-dismiss="modal" aria-label="Close">Nel, prro</a>
                        <a href="#" class="modal-form__btn modal-form__btn--confirm" data-dismiss="modal" aria-label="Close">Saimón</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<% include ../partials/footer %>

<script src="/js/ajax/salesman/stock.js"></script>
<script src="/js/Script.js"></script>
</body>
</html>