<% include ../partials/header %>

<section class="inbox">
    <section class="filter__inbox col-sm-4 col-lg-2 col-xl-2 d-none d-sm-block d-md-none d-lg-block bg-dark" id="filter-inbox">
        <nav class="filter__inbox-list">
            <i class="fas fa-angle-left d-sm-none mb-3 text-light" id="btn-inbox-hide"></i>
            <a href="#" class="filter__inbox-link filter__inbox-link--is-active">Todos</a>
            <a href="#" class="filter__inbox-link">Leídos</a>
            <a href="#" class="filter__inbox-link">No leídos</a>
            <a href="#" class="filter__inbox-link">Aceptados</a>
            <a href="#" class="filter__inbox-link">Rechazados</a>
        </nav>
    </section>
    <section class="requests col-xs-12 col-sm-8 col-md-5 col-lg-5 col-xl-5 d-sm-block" id="request-group">
        <div class="requests__heading">
            <h1 class="requests__title">Request</h1>
            <i class="requests__icon fas fa-filter d-sm-none" id="btn-inbox-show"></i>
        </div>
        <div class="requests__container">
            <div class="request">
                <div class="request__heading">
                    <p class="request__name">Anuar Jiménez</p>
                    <p class="request__data">18:00 pm #32</p>
                </div>
                <p class="request__title">Do you have a pending request?</p>
                <p class="request__description">Please come over so we can netflix and chill</p>
            </div>
            <div class="request">
                <div class="request__heading">
                    <p class="request__name">Anuar Jiménez</p>
                    <p class="request__data">18:00 pm #32</p>
                </div>
                <p class="request__title">Do you have a pending request?</p>
                <p class="request__description">Please come over so we can netflix and chill</p>
            </div>
            <div class="request">
                <div class="request__heading">
                    <p class="request__name">Anuar Jiménez</p>
                    <p class="request__data">18:00 pm #32</p>
                </div>
                <p class="request__title">Do you have a pending request?</p>
                <p class="request__description">Please come over so we can netflix and chill</p>
            </div>
            <div class="request">
                <div class="request__heading">
                    <p class="request__name">Anuar Jiménez</p>
                    <p class="request__data">18:00 pm #32</p>
                </div>
                <p class="request__title">Do you have a pending request?</p>
                <p class="request__description">Please come over so we can netflix and chill</p>
            </div>
            <div class="request request--is-active">
                <div class="request__heading">
                    <p class="request__name">Anuar Jiménez</p>
                    <p class="request__data">18:00 pm #32</p>
                </div>
                <p class="request__title">Do you have a pending request?</p>
                <p class="request__description">Please come over so we can netflix and chill</p>
            </div>
            <div class="request">
                <div class="request__heading">
                    <p class="request__name">Anuar Jiménez</p>
                    <p class="request__data">18:00 pm #32</p>
                </div>
                <p class="request__title">Do you have a pending request?</p>
                <p class="request__description">Please come over so we can netflix and chill</p>
            </div>
            <div class="request">
                <div class="request__heading">
                    <p class="request__name">Anuar Jiménez</p>
                    <p class="request__data">18:00 pm #32</p>
                </div>
                <p class="request__title">Do you have a pending request?</p>
                <p class="request__description">Please come over so we can netflix and chill</p>
            </div>
        </div>
    </section>
    <section class="message col-12 col-md-7 col-lg-5 col-xl-5 d-none d-md-block" id="message">
        <div class="message__banner">
            <img class="message__image" src="assets/img/car-banner.jpg" alt="">
            <i class="message__back fas fa-angle-left d-md-none" id="message-back"></i>
            <h2 class="message__title">Request for X-Terra</h2>
        </div>
        <div class="message__container">
            <div class="message__info">
                <div class="message__heading">
                    <p class="message__from">Anuar Jiménez</p>
                    <p class="message__date">18:00 pm</p>
                </div>
                <p class="message__subject">Do you have a pending request?</p>
                <p class="message__description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae provident praesentium, inventore, vel iusto unde eum possimus nobis nihil ratione sit ea cum eius delectus voluptatem porro, excepturi explicabo. Molestiae reiciendis repellendus consequatur sequi earum tempora, dicta tempore odio fugiat modi, temporibus eveniet pariatur amet maiores error architecto nostrum, iusto!
                </p>
            </div>
        </div>
        <div class="approval">
            <div class="approval__info">
                <p class="approval__subject">Approval of car</p>
                <p class="approval__from">From Anuar Jiménez</p>
            </div>
            <div class="approval__confirmations">
                <a href="#" class="approval__btn approval--btn-cancel">Decline</a>
                <a href="#" class="approval__btn approval--btn-accept">Accept</a>
            </div>
        </div>
    </section>
</section>

<% include ../partials/footer %>
<script src="/js/Script.js"></script>

</body>
</html>